body {
    background-color: rgb(203, 170, 216);
    text-align: center;
}

h1 { 
    color: rgb(109, 16, 78);
}


table, th,tr, td {
    border-collapse: collapse;
    margin: 0 auto;
    padding: 15px;
}

.sggg {
    width: 110px;
}